*{padding: 0px; margin: 0px;font-family:"Times New Roman", Times, serif; font-size: 14pt !important;}
#wrapper{width: 980px !important; margin: auto !important;}

#header{width: 100% !important; float: left; margin-bottom: 20px !important;}
#header .title_report{width: 100% !important; float: left !important; text-align: center !important; margin-top: 5px !important;}
#header h1{font-size: 20pt !important;}
#header table{vertical-align: top !important;}
span.date{font-size: 12pt !important; font-style: italic; font-weight: bold !important;}

#content .full_info{width: 100%; float: left; margin-bottom: 6px !important;}
#content .full_info .label,#content .full_info .fill_data{float: left !important;}
#content .full_info .fill_data{margin-left: 10px !important;}
.money{font-weight: bold !important;}
#footer{width: 100%; float: left !important;}


