*{margin:0px; padding:0px; font-family:"Times New Roman", Times, serif !important; font-size: 14px !important}

/*#invoice{width:99.2% !important; padding:0.2% .4% !important; min-width:700px!important; font-size:10pt!important; margin:auto !important;}*/

.simple-layout-bound{width:980px !important; margin: auto; background: #fff; overflow: hidden;}
.simple-layout-middle{width:980px !important; margin: auto; background: #fff; overflow: hidden;}
#part_wrapper{width:48%; padding:0.2% 1%; font-size:10pt;}
#header{width:100%; text-align:center; float:left; margin-bottom:5px;}
#header #logo{//width:100%; float:left;margin-bottom: 20px;}
#header #logo img{height:80px;}
#part_logo{width:100%; float:left;margin-bottom: 10px;}
#part_logo img{height:70px;}
#header h1{width:100%; float:left; font-size:18pt !important; font-weight: normal; border-bottom: 1px solid #000; padding-bottom:10px; //margin-top:40px;}
.hotel_title{ width:100%; text-align: center; float: left; margin:10px 0px 0px 10px; padding:0px;}
.hotel_title h1{font-family:Arial, Helvetica, sans-serif !important; font-size: 20pt !important; font-weight: bold !important; font-style: normal !important; border: none !important; margin-top:0px !important;}
.hotel_title p{ font-family:Arial, Helvetica, sans-serif !important; font-size: 12px !important;}
.address_info{width: 80%;}
.address_info tr td{font-family:Arial, Helvetica, sans-serif !important; font-size: 12px; text-align: left;}
#content{width:100%; float:left;}
#content .note{width:100%; float:left;  //margin-bottom:20px; font-style: normal !important;}
#content .main_note{width:50%; float:left; }
#part_main_note{width:100%; float:left;}
#content .right_note{float:right;}
#content .right_note tr td{//padding-left:40px;}
span.name_label{font-weight:normal;}
#content .main_content{width:100%; float:left;}
#content .main_content table{width:100% !important; text-align:left !important; border-bottom: 1px solid #444 !important;}
#content .main_content table .right_text{text-align:right !important;}
#content .main_content table tr th{border-bottom:1px dashed #444 !important;border-top:1px solid #444 !important; color:red !important; padding:3px 3px !important;}
#content .main_content table tr td{padding:3px 0px !important;}
#content .main_content table tr{ height:25px !important;}
#content .main_content table tfoot tr td{color:#00F; }
#content .main_content table tr.cus_info{font-weight: bold;}
#content .main_content table tfoot tr:first-child td{ border-top:1px dashed #444;}
#content .main_content table tbody tr:last-child td{border-bottom: 1px dashed #444;}
#content .main_content table tbody:last-child tr:last-child td{border-bottom:none;}
a{text-decoration:none; color:#09F;}
a:hover{text-decoration:underline; color:#06F;}
#content .signature{width:60%; float:right; margin-top:0px; height: 100px;}
#content .part_signature{width:100%; float:left; margin-top:40px; height:100px;}
.date{width:100%; float:left; text-align:right;}

#content .main_sign{ float:right; text-align:center; border-top: 1px solid #444; width: 30% !important; padding-top:10px;}
#content .main_sign:last-child{ margin-right: 20%;}
.bold_text{font-weight:bold;}

footer{width:100%; float:left; }
footer .address{width:100%; float:left; text-align:center; font-size:11px; color:#666;}
footer .address p,footer .address a{text-align:center; font-size:11px; color:#666;}

.item-header{font-size: 12pt !important; text-transform: uppercase; border-bottom: 1px solid #000; height: 50px !important;}
.item-header .date_invoice,.item-header .description,.item-header .amount,.item-header .ref_code{color: #000 !important; font-size: 10pt !important;}

.description{width:50% !important;}
.amount{width:20% !important;}
 .border{border-top:1px solid #444;}
.description-total{width:80% !important;color: #000 !important; font-size: 10pt !important;}
.item-body.total-group{border-top:1px solid #444}
.item-body.total-group .sub-item-body .date, .item-body.total-group .sub-item-body .description, .item-body.total-group .sub-item-body .amount{color:#000 !important;}
.ref_code{width:15% !important; color: #000; float: left; height: 25px; line-height: 25px;}
.money_in_word{width: 40%; float: left;}